<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alifd.listfilmrecycler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="com.example.alifd.listfilmrecycler.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.example.alifd.listfilmrecycler.WRITE_DATABASE" android:protectionLevel="normal" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.ListFilmAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_film_app_widget_info" />
        </receiver>
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <activity
            android:name=".DetailTvShowActivity"
            android:label="@string/detail_tv_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailFilmActivity"
            android:label="@string/detail_film_title"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <provider
            android:name=".contentprovider.FavFilmProvider"
            android:authorities="com.example.alifd.listfilmrecycler"
            android:exported="true"
            android:readPermission="com.example.alifd.listfilmrecycler.READ_DATABASE"
            android:writePermission="com.example.alifd.listfilmrecycler.WRITE_DATABASE"/>
    </application>

</manifest>